@import url("https://www.fontify.me/wf/888133e7b534c7e8f2034947a81b81c3");


html {
    font-size: 24px;
}


body {
    margin: 0;
    background-color: #0005ff;
    color: #fff;
    font-family: 'font91888', sans-serif;
    font-size: 1rem;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0.5rem;
}

.header a {
    color: currentColor;
    text-decoration: none;
    font-size: 2rem;
}

.nav ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    padding-left: 0;
    width: 100%;
}

.nav a:link,
.nav a:visited{
    color: yellow;
    text-decoration: none;
    font-size: 2rem;
    padding: 0;
    border-radius: 50%;
    transition: color 0.5s, background-color 0.5s, padding 0.5s;
}

.nav a:hover,
.nav a:active {
    color: red;
    background-color: black;
    padding: 2rem 2rem;
}

.content .title {
    background-color: black;
    text-align: center;
    padding: 1rem;
    font-size: 4rem;
}

#contact main .bio {

}

#contact main ul {
    list-style: none;
    display: flex;
    font-style: oblique;

}

#contact main ul figcaption {
    text-align: center;
    font-size: 1rem;
}

#contact main ul img {
    height: 3rem;
    float: left;
}

#contact main ul img:hover,
#contact main ul img:active {
    transform: scale(1.1);
}

#blog main li {
    padding: 3rem;
    list-style: none;
    width: 100%;
}

#blog main ul a {
    text-decoration: none;
    list-style: none;
    background-color: black;
    padding: 2rem;
}