
html {
    font-size: 24px;
}


body {
    margin: 0;
    background-color: #0005ff;
    color: #fff;
    font-family: sans-serif;
    font-size: 1rem;
}

.wrapper {
    max-width: 1200px;
    min-width: 375px;
    margin: 0 auto;
    padding: 0.5rem;
}

.header a {
    color: currentColor;
    text-decoration: none;
    font-size: 2rem;
}

.nav ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    padding-left: 0;
    width: 100%;
    border: 3px solid yellow;
    font-size: 100%;
}

.nav a:link,
.nav a:visited{
    color: yellow;
    text-decoration: none;
    font-size: 2rem;
    border-radius: 10%;
    transition: color 0.5s, background-color 0.5s, transform 0.5s;
    padding: 0.5rem;
}

.nav a:hover,
.nav a:active {
    color: red;
    background-color: black;
    transform: scale(1.1);
}

.content .title {
    background-color: black;
    text-align: center;
    padding: 1rem;
    font-size: 4rem;
}

#contact main .bio {

}

#contact main ul {
    list-style: none;
    display: flex;
    font-style: oblique;
}

#contact main ul figcaption {
    text-align: center;
    font-size: 1rem;
}

#contact main ul img {
    height: 3rem;
    float: left;
    margin: 0 2rem;
}

#contact main ul img:hover,
#contact main ul img:active {
    transform: scale(1.1);
}

#blog main li {
    padding: 3rem;
    list-style: none;
    width: 100%;
}

#blog main ul a {
    text-decoration: none;
    list-style: none;
    background-color: black;
    padding: 2rem;
}

#contact .email {
    font-size: 3rem;
}

.img-html {
    width: 70%;
    float: right;
    margin: 0.5rem 0;
    border: 0.5rem solid yellow;
}

.construction {
    color: orange;
    text-align: center;
    background-color: yellow;
}

figcaption {
    margin-bottom: 30%;
}

.old-website strong {
    color: red;
}
